@font-face {
  font-family: 'roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'santio';
  src: url(../fonts/SANTIO/TTF/Santio\ regular.ttf);
}
@font-face {
  font-family: 'tangerine';
  src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  scroll-behavior: smooth;
}
body{
background:  linear-gradient(rgba(136, 82, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cleo-topper.jpg) no-repeat center/cover fixed;
}

nav{
  text-align: right;
  margin: 1rem 4rem 0 0;
}
nav img{
  height: 30px;
  margin-right: 1rem;
}
nav a{
  font-family: 'roboto';
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #e7bc0e;
}
article{
  width: 100vw;
  height: 100vh;
  position: relative;
}

h1 {
  font-family: 'santio';
  color: #fff;
  font-size: 4.5rem;
  width: 35%;
  margin: 0 0 3% 6%;
  position: absolute;
  bottom: 0;
}

h2 {
  font-family: 'tangerine';
  color: goldenrod;
  font-size: 3rem;
  font-weight: bold;
  line-height: 75%;
  letter-spacing: 0.0em;
  font-stretch: 50%;
  margin: 1rem 0 0 6rem;
  text-transform: none;
}

#screen2 article h2{
  position: absolute;
  top: 3%;
}


#screen3 p{
  font-family: 'santio';
  color: #6bc1a3;
  font-size: 3rem;
  font-weight: bold;
  line-height: 160%;
  width: 85%;
  padding-left: 14rem;
  position: relativ;
  top: 0;
}

.undercover{
background-color: #333;
color: #fff;
padding: 4px 0 8px 4px;

}

#workers img{
  width: 15%;
  margin: 3% 0 8% 10%;
}
#workers H2{
  color: goldenrod;
  font-family: 'santio';
  font-size: 15rem;
  margin: 0 0 2% 10%;
}
#workers p{
  color: goldenrod;
  font-family: 'santio';
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 0 10%;
}

#pay img{
  width: 15%;
  margin: 3% 0 8% 10%;
}
#pay p{
  color: #cb91b6;
  font-family: 'santio';
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 2.5rem 10%;
}
#pay H2{
  color: #cb91b6;
  font-family: 'santio';
  font-size: 15rem;
  margin: 0 0 2% 10%;
}

#health img{
  width: 15%;
  margin: 3% 0 8% 10%;
}
#health H2{
  color: #6bc1a3;
  font-family: 'santio';
  font-size: 15rem;
  margin: 0 0 2% 10%;
}
#health p{
  color: #6bc1a3;
  font-family: 'santio';
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 2.5rem 10%;
}


#screen7 p{
color: #7eb8e1;
font-family: 'santio';
font-size: 2.8rem;
font-weight: bold;
line-height: 160%;
margin: 0 12% 2.5rem 32%;
}



#beach article{
  background:  #efefef;
  background-image: url(../img/see.png);
}
#beach div{
 
}
#beach div img{
  width: 100%;
}

#screen9 article{
  background: #000;
  height: 280vh;
  border: 1px solid #111;
}
#screen9 H2{
  color: #fff;
  font-family: 'santio';
  font-size: 8rem;
  font-weight: bold;
  line-height: 120%;
  margin: 50% 12% 10% 10%;
  }

  #screen9 A{
   
    color: #fff;
    font-family: 'roboto';
    font-size: 3rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 3px solid #fff;
    border-radius: 2px;
    margin: 55% 0% 10% 10%;
    text-transform: none;
  }

  #screen9 A:hover{
    color: #fff;
    text-decoration: none;
    text-transform: none;
    padding: 1rem 2rem;
    border-right: 8px solid #fff;
    border-bottom: 8px solid #fff;
  }
  


footer{
  background-color: #000;
  font-family: 'roboto';
  font-size: 1.0rem;
  color: #fff;
  text-transform: none;
  text-align: center;
  padding-bottom: 1rem;
}
footer A{
  text-decoration: none;
  color: #6bc1a3;
}

footer A:hover{
  text-decoration: underline;
  color: #6bc1a3;
}